<div style="background-color: cadetblue;height: 100vh;">
<br>
<br>
<br>

  <div class="row">
    <div class="col-md-12 d-flex align-items-stretch grid-margin">
      <h3 style="margin:0 auto; text-align: left;color: rgb(246, 246, 246);font-weight:900;">ยินดีต้อนรับเข้าสู่</h3>
    </div>
    <div class="col-md-12 d-flex align-items-stretch grid-margin">
      <h1 style="margin:0 auto; text-align: left;color: rgb(243, 241, 245);font-weight:900;">ระบบ PSIM ของ {{region}}</h1>
    </div>
  </div>
  <br>
 