
input.ng-invalid.ng-touched{
  border: solid 1px red;
  }
  
  .input-lg {
      font-size: 15px;
    }
  
  
    .table-lg {
      font-size: 14px;
    }
  
  
    table {
      width: 100%;
    
    }
    th.mat-header-cell{
      color: rgb(10, 6, 223);
      font-weight: bold
    }
  
  .mat-row:nth-child(even){
      background-color: #dae8f5;
      }
  
  
  .mat-paginator{
    font-size: 14px;
  }
  
  .wrfont{
   color: #FFF;
  
  }
  .form-control {
    border-color: rgb(197, 223, 231);
   
  }
  .form-control:focus {
    border-color: rgb(18, 154, 179);
    
  }