<app-loader></app-loader>
<div class="my-overlay" *ngIf="showOverlay">
  <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
</div>
<!-- <div *ngIf="showOverlay" class="overlay">
  <mat-progress-spinner class="spinner" [color]="color" [mode]="mode" [value]="value">
  </mat-progress-spinner>
</div> -->

<mat-tab-group [backgroundColor]="'primary'" [color]="'warn'" (selectedTabChange)="onTabClick($event)">
  <mat-tab label="Dashboard กฟภ.">
    <div>
      <mat-card>
        <mat-card-header>
          <mat-card-title style="color:white; font-size: 26px;">แผนงานปรับปรุงระบบจำหน่ายแรงต่ำ จาก OPSAonGIS
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <div class="row mt-5">
            <div class="col-xl-1 col-lg-1 col-md-1 mt-5"></div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12  mt-5">
              <button type="button" class="btn text-right" style="background-color:#9DC3E6; font-size: 26px;width: 100%; height: 100px;">หม้อแปลงที่มีปัญหาทั้งหมด <br> {{TrTotalProblem | number}} เครื่อง</button>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12  mt-5">
              <button type="button" class="btn text-right" style="background-color:#D9D9D9; font-size: 26px;width: 100%;height: 100px;">มีแผนงานปรับปรุงแล้ว <br>{{(TrTotalPln | number)}} เครื่อง <br> ร้อยละ {{(TrTotalPln)/TrTotalProblem*100 | number:'1.0-0'}}</button>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12  mt-5">
              <button type="button" class="btn text-right" style="background-color:#B05CBA; font-size: 26px;width: 100%;height: 100px;">ปรับปรุงแล้วเสร็จ <br>{{TrTotalDone | number}} เครื่อง <br> ร้อยละ {{TrTotalDone/TrTotalProblem*100 |  number:'1.0-0'}}</button>
            </div>
            <div class="col-xl-1 col-lg-1 col-md-1 mt-5"></div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12  mt-5">
              <div class="chart-container" style="position: relative; height: 500px;">
                <canvas id='chartPEA2'></canvas>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <mat-card>
      <mat-card-header>
        <mat-card-title style="color:white;font-size: 26px;">ร้อยละของหม้อแปลงจำหน่ายที่มีปัญหา สถานะวันที่
          {{updateDate}}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          
          <div class="col-md-2">
            <div class="row"  class="d-flex justify-content-center"><h4 style="color: white;font-size: 20px;">N1</h4></div>
            <apx-chart style="color: white;" [series]="chartn1.series" [chart]="chartn1.chart"
              [plotOptions]="chartn1.plotOptions" [labels]="chartn1.labels" [stroke]="chartn1.stroke"
              [fill]="chartn1.fill" style="color: white;"></apx-chart>
          </div>
          <div class="col-md-2">
            <div class="row"  class="d-flex justify-content-center"><h4 style="color: white;font-size: 20px;">N2</h4></div>
            <apx-chart style="color: white;" [series]="chartn2.series" [chart]="chartn2.chart"
              [plotOptions]="chartn2.plotOptions" [labels]="chartn2.labels" [stroke]="chartn2.stroke"
              [fill]="chartn2.fill" style="color: white;"></apx-chart>
          </div>
          <div class="col-md-2">
            <div class="row"  class="d-flex justify-content-center"><h4 style="color: white;font-size: 20px;">N3</h4></div>
            <apx-chart style="color: white;" [series]="chartn3.series" [chart]="chartn3.chart"
              [plotOptions]="chartn3.plotOptions" [labels]="chartn3.labels" [stroke]="chartn3.stroke"
              [fill]="chartn3.fill" style="color: white;"></apx-chart>
          </div>
          <div class="col-md-2">
            <div class="row"  class="d-flex justify-content-center"><h4 style="color: white;font-size: 20px;">NE1</h4></div>
            <apx-chart style="color: white;" [series]="chartne1.series" [chart]="chartne1.chart"
              [plotOptions]="chartne1.plotOptions" [labels]="chartne1.labels" [stroke]="chartne1.stroke"
              [fill]="chartne1.fill" style="color: white;"></apx-chart>
          </div>
          <div class="col-md-2">
            <div class="row"  class="d-flex justify-content-center"><h4 style="color: white;font-size: 20px;">NE2</h4></div>
            <apx-chart style="color: white;" [series]="chartne2.series" [chart]="chartne2.chart"
              [plotOptions]="chartne2.plotOptions" [labels]="chartne2.labels" [stroke]="chartne2.stroke"
              [fill]="chartne2.fill" style="color: white;"></apx-chart>
          </div>
          <div class="col-md-2">
            <div class="row"  class="d-flex justify-content-center"><h4 style="color: white;font-size: 20px;">NE3</h4></div>
            <apx-chart style="color: white;" [series]="chartne3.series" [chart]="chartne3.chart"
              [plotOptions]="chartne3.plotOptions" [labels]="chartne3.labels" [stroke]="chartne3.stroke"
              [fill]="chartne3.fill" style="color: white;"></apx-chart>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2">
            <div class="row"  class="d-flex justify-content-center"><h4 style="color: white;font-size: 20px;">C1</h4></div>
            <apx-chart style="color: white;" [series]="chartc1.series" [chart]="chartc1.chart"
              [plotOptions]="chartc1.plotOptions" [labels]="chartc1.labels" [stroke]="chartc1.stroke"
              [fill]="chartc1.fill" style="color: white;"></apx-chart>
          </div>
          <div class="col-md-2">
            <div class="row"  class="d-flex justify-content-center"><h4 style="color: white;font-size: 20px;">C2</h4></div>
            <apx-chart style="color: white;" [series]="chartc2.series" [chart]="chartc2.chart"
              [plotOptions]="chartc2.plotOptions" [labels]="chartc2.labels" [stroke]="chartc2.stroke"
              [fill]="chartc2.fill" style="color: white;"></apx-chart>
          </div>
          <div class="col-md-2">
            <div class="row"  class="d-flex justify-content-center"><h4 style="color: white;font-size: 20px;">C3</h4></div>
            <apx-chart style="color: white;" [series]="chartc3.series" [chart]="chartc3.chart"
              [plotOptions]="chartc3.plotOptions" [labels]="chartc3.labels" [stroke]="chartc3.stroke"
              [fill]="chartc3.fill" style="color: white;"></apx-chart>
          </div>
          <div class="col-md-2">
            <div class="row"  class="d-flex justify-content-center"><h4 style="color: white;font-size: 20px;">S1</h4></div>
            <apx-chart style="color: white;" [series]="charts1.series" [chart]="charts1.chart"
              [plotOptions]="charts1.plotOptions" [labels]="charts1.labels" [stroke]="charts1.stroke"
              [fill]="charts1.fill" style="color: white;"></apx-chart>
          </div>
          <div class="col-md-2">
            <div class="row"  class="d-flex justify-content-center"><h4 style="color: white;font-size: 20px;">S2</h4></div>
            <apx-chart style="color: white;" [series]="charts2.series" [chart]="charts2.chart"
              [plotOptions]="charts2.plotOptions" [labels]="charts2.labels" [stroke]="charts2.stroke"
              [fill]="charts2.fill" style="color: white;"></apx-chart>
          </div>
          <div class="col-md-2">
            <div class="row"  class="d-flex justify-content-center"><h4 style="color: white;font-size: 20px;">S3</h4></div>
            <apx-chart style="color: white;" [series]="charts3.series" [chart]="charts3.chart"
              [plotOptions]="charts3.plotOptions" [labels]="charts3.labels" [stroke]="charts3.stroke"
              [fill]="charts3.fill" style="color: white;"></apx-chart>
          </div>
        </div>

      </mat-card-content>
    </mat-card>
    <div>
      <mat-card>
        <mat-card-header>
          <mat-card-title style="color:white; font-size: 26px;">สถานะการดำเนินการแก้ไขปัญหา หม้อแปลงจำหน่ายไฟฟ้า สถานะวันที่
            {{updateDate}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <div class="row">
            <div class="col-md-3  mt-5">
              <mat-form-field>
                <mat-label style="color:white;font-size: 20px;">สายงาน</mat-label>
                <mat-select (selectionChange)="selectRegion($event)" style="color:white;font-size: 16px;">
                  <mat-option class="not-empty-select" *ngFor="let region of regionSelect" [value]="[region.value]">
                    {{region.viewvalue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-md-9 d-flex justify-content-left mt-5" style="color: white;">
              <mat-button-toggle-group style="border-radius: 30px;height: 100%;color: rgb(70, 124, 172);" value="1">
                <mat-button-toggle (change)="onGroupChange($event.value)" style="width: 300px;" value="1">วัดโหลด/จัดทำแผน</mat-button-toggle>
                <mat-button-toggle (change)="onGroupChange($event.value)" value="2" style="width: 300px;">ปรับปรุงแล้วในปี 65</mat-button-toggle>
                <mat-button-toggle (change)="onGroupChange($event.value)" value="3" style="width: 300px;">ผลการรันผิดปกติ</mat-button-toggle>
          
                <!-- <mat-button-toggle (change)="onValChange($event.value)" value="3">%UB เกิน 50%</mat-button-toggle> -->
              </mat-button-toggle-group>
            </div>

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12  mt-5">
              <div class="chart-container" style="position: relative; height: 500px;">
                <canvas id='chartPEA'></canvas>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Dashboard">
    <mat-card>
      <mat-card-header>
        <mat-card-title style="color:white;">Dashboard การปรับปรุงหม้อแปลงและระบบจำหน่ายแรงต่ำ จาก OPSAonGIS สถานะวันที่
          {{updateDate}}
        </mat-card-title>

      </mat-card-header>
      <mat-card-content>

        <div class="row">

          <div class="col-md-11">
            <mat-form-field>
              <mat-label style="color:white;">กฟฟ. </mat-label>
              <mat-select (selectionChange)="selectPea($event)">
                <mat-option class="not-empty-select" *ngFor="let pea of peaname2"
                  [value]="[pea.peaEng,pea.peaCode,pea.peaName]">
                  {{pea.peaCode +" "+pea.peaName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div *ngIf="option=='7'">
            <mat-form-field>
              <mat-label style="color:white;">กลุ่มแผนงาน</mat-label>
              <mat-select (selectionChange)="selectGroup($event)">
                <mat-option class="not-empty-select" *ngFor="let grpup of groupName"
                [value]="[grpup.value]">
                  {{grpup.viewvalue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
          <div class="col-md-1">
            <a target="_blank"
              href='http://psim.pea.co.th/psisservice/opsa67/exportresult.php?option={{option}}&region={{currentReggion}}&group={{groupP1Select}}'><i
                class="fa fa-file-excel-o" style="font-size:40px;color:white;"></i></a>
          </div>
        </div>
        <div class="col-md-12 d-flex justify-content-center" style="color: white;">
          <mat-button-toggle-group style="border-radius: 20px;height: 80%;color: rgb(70, 124, 172);" value="7">
            <mat-button-toggle (change)="onValChange($event.value)" value="7" style="width: 300px;">แรงดันต่ำกว่า 200 V หรือ โหลดเกิน 100%</mat-button-toggle>
            <mat-button-toggle (change)="onValChange($event.value)" value="1">โหลด 80-100%</mat-button-toggle>
            <mat-button-toggle (change)="onValChange($event.value)" value="8" style="width: 300px;">Unbalance > 50% (%Loading 50-80)</mat-button-toggle>
            
            <!-- <mat-button-toggle (change)="onValChange($event.value)" value="2">แรงดันต่ำกว่า 200 V</mat-button-toggle>
            <mat-button-toggle (change)="onValChange($event.value)" value="6">แรงดัน 200-210 V</mat-button-toggle>
            
           
            <mat-button-toggle (change)="onValChange($event.value)" value="5">โหลดเกิน 100%</mat-button-toggle> -->
            <mat-button-toggle (change)="onValChange($event.value)" value="4">โหลดต่ำกว่า 30%</mat-button-toggle>
           
           
           
          </mat-button-toggle-group>

        </div>

        <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12" style="color: white;">
            <apx-chart style="color: white;" [series]="chartOptions1.series" [chart]="chartOptions1.chart"
              [plotOptions]="chartOptions1.plotOptions" [labels]="chartOptions1.labels" [stroke]="chartOptions1.stroke"
              [fill]="chartOptions1.fill" style="color: white;"></apx-chart>

            <div class="card card-statistics mt-5">
              <div class="card-body bg-success">
                <div class="clearfix">
                  <div class="float-left">
                    <i class="mdi  mdi-chart-line text-white icon-lg"></i>
                  </div>
                  <div class="float-right">
                    <p class="font-weight-medium text-right mb-0 wrfont" style="font-size:x-large;">หม้อแปลงทั้งหมด
                      {{TrPlnTal | number}} เครื่อง</p>
                    <div class="fluid-container">
                      <h3 class="font-weight-medium text-right mb-0 wrfont">มีแผนงานแล้ว {{TrTotalHavePln | number}} เครื่อง
                        <BR>
                        ตรวจสอบแล้ว {{TrTotal | number}} เครื่อง
                        <BR>
                          ปิดงานแล้ว {{TrTotalClsd}} เครื่อง
                        <BR>
                          <h4>(ไม่พบปัญหา {{TrNo}} เครื่อง <BR> แก้ไข GIS {{TrGIS}}  เครื่อง
                            <BR>  ปิดงาน/เปิดงาน PM PS {{TrClsd}}/{{TrWBS}} เครื่อง)</h4>
                      </h3>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12" style="height: 50pc;">

            <canvas id='chartResult'></canvas>

          </div>

        </div>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Material">
    <!-----------------------------------หม้อแปลงคงคลัง matching------------------------------------------------>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title style="color:white;">ความต้องการพัสดุ {{regionThai}}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <!-- <h4 style="color: white;">ความต้องการพัสดุ กฟน.2</h4> -->
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-12 d-flex justify-content-center">
              <mat-button-toggle-group style="border-radius: 20px;height: 80%;" value="1">
                <mat-button-toggle (change)="getMat($event.value)" value="1" style="width: 300px;">Load>100 or V<200</mat-button-toggle>
                <mat-button-toggle (change)="getMat($event.value)" value="2"style="width: 300px;">Load 80-100</mat-button-toggle>
              </mat-button-toggle-group>
            </div>
            <div class="col-md-3">
              <mat-form-field>
                <mat-label style="color:white;font-size: 16px;">เลือก BAT</mat-label>
                <mat-select (selectionChange)="selectBAT($event)" style="color:white;font-size: 16px;">
                  <mat-option class="not-empty-select" *ngFor="let bat of batSelect" [value]="[bat.value]">
                    {{bat.viewvalue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="row">
              <div class="col-md-6 col-sm-6 mt-3" style="height: 30pc;">
                <div *ngIf="dayCheck()">
                  <mat-label style="color: white;font-size: 16px;">จำนวนหม้อแปลงที่ต้องใช้ภายใน {{nDate}} วัน (BAT {{batName}})</mat-label>
                </div>
                <div *ngIf="!dayCheck()">
                  <mat-label style="color: white;font-size: 16px;">จำนวนหม้อแปลงที่ต้องใช้ภายใน {{nDate}} วัน (BAT {{batName}}) ก่อน Matching
                  </mat-label>
                </div>
                <canvas id='chartMat'></canvas>
              </div>
              <div class="col-md-6 col-sm-6 mt-3 float-right">
                <div class="row">
                  <div *ngIf="dayCheck()">
                    <mat-label style="color: white;font-size: 16px;">จำนวนหม้อแปลงที่มีโหลดเกิน 100%</mat-label>
                  </div>
                  <div *ngIf="!dayCheck()">
                    <mat-label style="color: white;font-size: 16px;">จำนวนหม้อแปลงที่ต้องใช้ภายใน {{nDate}} วัน (BAT {{batName}}) หลัง Matching
                    </mat-label>
                  </div>

                  <div class="col-md-12 col-sm-12" style="height: 30pc;">
                    
                    <canvas id='chartTR'></canvas>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-6 mt-5" style="height: 30pc;">
                <mat-label style="color: white;">พัสดุที่ต้องการเพิ่มเติม</mat-label>
                <canvas id='chartReqMat'></canvas>

              </div>
                <div class="col-md-6 col-sm-6 mt-5">
                  <!-- <div class="col-md-6 col-sm-6 mt-3"> -->
                  <mat-label style="color: white;">โปรดระบุความต้องการพัสดุ</mat-label>
                  <form class="form-sample" #f="ngForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                      <div class="col-md-2">
                        <div class="form-group row">
                          <label class="col-sm-12 col-form-label  input-lg" style="color: white;">รหัสพัสดุ</label>
                          <div class="col-sm-12">
                            <input type="text" class="form-control" name="matCode" ngModel required>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-5">
                        <div class="form-group row">
                          <label class="col-sm-12 col-form-label  input-lg" style="color: white;">ชื่อพัสดุ</label>
                          <div class="col-sm-12">
                            <input type="text" class="form-control" name="matName" ngModel required>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-2">
                        <div class="form-group row">
                          <label class="col-sm-12 col-form-label  input-lg" style="color: white;">จำนวน</label>
                          <div class="col-sm-12">
                            <input type="text" class="form-control" name="nMat" ngModel required>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <button type="submit" [disabled]="!f.valid" class="btn btn-success mr-2"
                          style="font-size: 18px; margin-top: 29px;color: white; background-color:green;border-color:whitesmoke; ">บันทึก</button>
                      </div>
                      <div class="col-md-1" style="margin-top: 29px; ">
                        <button (click)="exportAsXLSX3()"><i class="fa fa-file-excel-o"
                            style="font-size:30px;color:green;"></i></button>
                      </div>

                    </div>

                    <div class="table-responsive" style="background-color:royalblue">
                      <table class="mat-elevation-z8" style="background-color:royalblue" mat-table matSort
                        #sort3="matSort" [dataSource]="dataSource3">
                        <ng-container matColumnDef="matCode">
                          <th class="table-lg" mat-header-cell *matHeaderCellDef
                            style="color: black;background-color:lightgray;"> รหัสพัสดุ </th>
                          <td class="table-lg" mat-cell *matCellDef="let matreq" style="color: black;">
                            {{matreq.matCode}}
                          </td>
                        </ng-container>
                        <ng-container matColumnDef="matName">
                          <th class="table-lg" mat-header-cell *matHeaderCellDef
                            style="color: black;background-color:lightgray;"> ชื่อพัสดุ </th>
                          <td class="table-lg" mat-cell *matCellDef="let matreq" style="color: black;">
                            {{matreq.matName}}
                          </td>
                        </ng-container>
                        <ng-container matColumnDef="nMat">
                          <th class="table-lg" mat-header-cell *matHeaderCellDef
                            style="color: black;background-color:lightgray;">จำนวน </th>
                          <td class="table-lg" mat-cell *matCellDef="let matreq" style="color: black;">{{matreq.nMat}}
                          </td>
                        </ng-container>
                        <ng-container matColumnDef="peaName">
                          <th class="table-lg" mat-header-cell *matHeaderCellDef
                            style="color: black;background-color:lightgray;">กฟฟ </th>
                          <td class="table-lg" mat-cell *matCellDef="let matreq" style="color: black;">
                            {{matreq.peaName}}
                          </td>
                        </ng-container>
                        <tr class="table-lg" mat-header-row *matHeaderRowDef="displayedColumns3" style="color: white;">
                        </tr>
                        <tr class="table-lg" mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>
                      </table>
                      <mat-paginator #paginator3 [pageSizeOptions]="[5, 10, 20]" [pageSize]="5" showFirstLastButtons>
                      </mat-paginator>
                    </div>
                  </form>
                <!-- </div> -->
                </div>
              
            </div>
          </div>

          <!-- <div class="col-md-6 mt-5">
            <mat-label style="color: white;">โปรดระบุความต้องการพัสดุ</mat-label>
            <form class="form-sample" #f="ngForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-md-2">
                  <div class="form-group row">
                    <label class="col-sm-12 col-form-label  input-lg" style="color: white;">รหัสพัสดุ</label>
                    <div class="col-sm-12">
                      <input type="text" class="form-control" name="matCode" ngModel required>
                    </div>
                  </div>
                </div>

                <div class="col-md-5">
                  <div class="form-group row">
                    <label class="col-sm-12 col-form-label  input-lg" style="color: white;">ชื่อพัสดุ</label>
                    <div class="col-sm-12">
                      <input type="text" class="form-control" name="matName" ngModel required>
                    </div>
                  </div>
                </div>

                <div class="col-md-2">
                  <div class="form-group row">
                    <label class="col-sm-12 col-form-label  input-lg" style="color: white;">จำนวน</label>
                    <div class="col-sm-12">
                      <input type="text" class="form-control" name="nMat" ngModel required>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <button type="submit" [disabled]="!f.valid" class="btn btn-success mr-2"
                    style="font-size: 18px; margin-top: 29px;color: white; background-color:green;border-color:whitesmoke; ">บันทึก</button>
                </div>
                <div class="col-md-1" style="margin-top: 29px; ">
                  <button (click)="exportAsXLSX3()"><i class="fa fa-file-excel-o"
                      style="font-size:30px;color:green;"></i></button>
                </div>

              </div>

              <div class="table-responsive" style="background-color:royalblue">
                <table class="mat-elevation-z8" style="background-color:royalblue" mat-table matSort #sort3="matSort"
                  [dataSource]="dataSource3">
                  <ng-container matColumnDef="matCode">
                    <th class="table-lg" mat-header-cell *matHeaderCellDef
                      style="color: black;background-color:lightgray;"> รหัสพัสดุ </th>
                    <td class="table-lg" mat-cell *matCellDef="let matreq" style="color: black;"> {{matreq.matCode}}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="matName">
                    <th class="table-lg" mat-header-cell *matHeaderCellDef
                      style="color: black;background-color:lightgray;"> ชื่อพัสดุ </th>
                    <td class="table-lg" mat-cell *matCellDef="let matreq" style="color: black;"> {{matreq.matName}}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="nMat">
                    <th class="table-lg" mat-header-cell *matHeaderCellDef
                      style="color: black;background-color:lightgray;">จำนวน </th>
                    <td class="table-lg" mat-cell *matCellDef="let matreq" style="color: black;">{{matreq.nMat}}</td>
                  </ng-container>
                  <ng-container matColumnDef="peaName">
                    <th class="table-lg" mat-header-cell *matHeaderCellDef
                      style="color: black;background-color:lightgray;">กฟฟ </th>
                    <td class="table-lg" mat-cell *matCellDef="let matreq" style="color: black;">{{matreq.peaName}}
                    </td>
                  </ng-container>
                  <tr class="table-lg" mat-header-row *matHeaderRowDef="displayedColumns3" style="color: white;"></tr>
                  <tr class="table-lg" mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>
                </table>
                <mat-paginator #paginator3 [pageSizeOptions]="[5, 10, 20]" [pageSize]="5" showFirstLastButtons>
                </mat-paginator>
              </div>


            </form>

          </div> -->

        </div>
      </mat-card-content>
    </mat-card>
  </mat-tab>

  <mat-tab label="Transformer Matching">
    <!-----------------------------------หม้อแปลงคงคลัง matching------------------------------------------------>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title style="color:white;">Transformer Matching
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <!-- <h4 style="color: white;">ความต้องการพัสดุ กฟน.2</h4> -->
        <div class="row">
          <div class="col-md-12">
            <mat-label style="color: white;">รายละเอียดหม้อแปลงที่ Matching</mat-label>
            <div class="row">

              <div class="col-md-8">
                <mat-form-field>
                  <mat-label style="color: white;">ค้นหา</mat-label>
                  <input style="color: white;" matInput placeholder="ระบุหมายเลขหม้อแปลง" matInput
                    (keyup)="applyFilter1($event.target.value)">
                </mat-form-field>
              </div>



              <div class="col-md-2" style="margin-top: 10px;">
                <mat-form-field>
                  <mat-label style="color:white;">กฟฟ. </mat-label>
                  <mat-select (selectionChange)="selectMatchPea($event)">
                    <mat-option class="not-empty-select" *ngFor="let pea of peaname2"
                      [value]="[pea.peaEng,pea.peaCode,pea.peaName]">
                      {{pea.peaCode +" "+pea.peaName}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-1" style="margin-top: 10px;">
                <button (click)="exportAsXLSX2()"><i class="fa fa-file-excel-o"
                    style="font-size:30px;color:green;"></i></button>
              </div>
              <div class="col-md-1">
                <a target="_blank"
                  href='http://psim.pea.co.th/psisservice/opsa67/MatchingMap.php?aoj={{selAoj}}&region={{region}}'><i
                    class="mdi mdi-map" style="font-size:40px;color:white;"></i></a>
              </div>
            </div>


            <table class="mat-elevation-z8" style="background-color:royalblue" mat-table matSort #sort2="matSort"
              [dataSource]="dataSource2">
              <ng-container matColumnDef="PEA_TR">
                <th class="table-lg" mat-header-cell *matHeaderCellDef style="color: black;background-color:lightgray;">
                  PEA หม้อแปลง<BR>โหลด 80-100% </th>
                <td class="table-lg" mat-cell *matCellDef="let trmatch" style="color: black;"> {{trmatch.PEA_TR}}
                </td>
              </ng-container>
              <ng-container matColumnDef="kva">
                <th class="table-lg" mat-header-cell *matHeaderCellDef style="color: black;background-color:lightgray;">
                  พิกัด<BR>(kvA) </th>
                <td class="table-lg" mat-cell *matCellDef="let trmatch" style="color: black;"> {{trmatch.kva}}</td>
              </ng-container>
              <ng-container matColumnDef="LOCATION">
                <th class="table-lg" mat-header-cell *matHeaderCellDef style="color: black;background-color:lightgray;">
                  สถานที่ติดตั้ง</th>
                <td class="table-lg" mat-cell *matCellDef="let trmatch" style="color: black;"> {{trmatch.LOCATION}}
                </td>
              </ng-container>
              <ng-container matColumnDef="location2">
                <th class="table-lg" mat-header-cell *matHeaderCellDef style="color: black;background-color:lightgray;">
                  สถานที่ติดตั้ง</th>
                <td class="table-lg" mat-cell *matCellDef="let trmatch" style="color: black;"> {{trmatch.location2}}
                </td>
              </ng-container>
              <ng-container matColumnDef="PEANAME">
                <th class="table-lg" mat-header-cell *matHeaderCellDef style="color: black;background-color:lightgray;">
                  กฟฟ. </th>
                <td class="table-lg" mat-cell *matCellDef="let trmatch" style="color: black;">{{trmatch.PEANAME}}
                </td>
              </ng-container>
              <ng-container matColumnDef="newTR">
                <th class="table-lg" mat-header-cell *matHeaderCellDef style="color: black;background-color:lightgray;">
                  PEA หม้อแปลง<BR>โหลด < 30% </th>
                <td class="table-lg" mat-cell *matCellDef="let trmatch" style="color: black;">{{trmatch.newTR}}</td>
              </ng-container>
              <ng-container matColumnDef="newkva">
                <th class="table-lg" mat-header-cell *matHeaderCellDef style="color: black;background-color:lightgray;">
                  พิกัด<BR>(kvA)</th>
                <td class="table-lg" mat-cell *matCellDef="let trmatch" style="color: black;">{{trmatch.newkva}}
                </td>
              </ng-container>
              <ng-container matColumnDef="newPEANAME">
                <th class="table-lg" mat-header-cell *matHeaderCellDef style="color: black;background-color:lightgray;">
                  กฟฟ. </th>
                <td class="table-lg" mat-cell *matCellDef="let trmatch" style="color: black;">{{trmatch.newPEANAME}}
                </td>
              </ng-container>
              <ng-container matColumnDef="distance">
                <th class="table-lg" mat-header-cell *matHeaderCellDef style="color: black;background-color:lightgray;">
                  ระยะทาง<BR>(km) </th>
                <td class="table-lg" mat-cell *matCellDef="let trmatch" style="color: black;">
                  {{trmatch.distance/1000 |
                  number:'1.2-2'}}</td>
              </ng-container>
              <ng-container matColumnDef="map">
                <th class="table-lg" mat-header-cell *matHeaderCellDef style="color: black;background-color:lightgray;">
                </th>
                <td class="table-lg" mat-cell *matCellDef="let trmatch" style="color: black;">
                  <div class="col-md-1">
                    <a target="_blank"
                      href="http://psim.pea.co.th/psisservice/opsa67/MatchingMapTwo.php?peaTr={{trmatch.PEA_TR}}&region={{region}}"><i
                        class="mdi mdi-map" style="font-size:40px;color:rgb(223, 129, 7);"></i></a>
                  </div>
                </td>
              </ng-container>

              <tr class="table-lg" mat-header-row *matHeaderRowDef="displayedColumns2" style="color: white;"></tr>
              <tr class="table-lg" mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
            </table>
            <mat-paginator #paginator2 [pageSizeOptions]="[5, 10, 20]" [pageSize]="10" showFirstLastButtons>
            </mat-paginator>

          </div>
        </div>
        <!-- <div class="row">
          <div [innerHtml]="KisshtHtml"></div>
        </div> -->
      </mat-card-content>
    </mat-card>
  </mat-tab>

  <mat-tab label="ระบุวันเริ่มงาน">
    <!-----------------------------------Table------------------------------------------------->
    <div class="row">
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <mat-card class="card-body">
            <div class="form-group">
              <mat-label style="color: white;">รายละเอียดหม้อแปลง</mat-label>
              <div class="row">

                <div class="col-md-3">
                  <!---
                <input type="text" class="form-control border-primary" matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                  -->

                  <mat-form-field>
                    <mat-label style="color: white;">ค้นหา</mat-label>
                    <input style="color: white;" matInput placeholder="ระบุหมายเลขหม้อแปลง" matInput
                      (keyup)="applyFilter($event.target.value)">
                  </mat-form-field>
                </div>

                <div class="col-md-7">
        
                
                  <mat-checkbox style="color: white;" class="mr-3" [(ngModel)]="checked">เลือกเฉพาะงานที่ยังไม่ปิด</mat-checkbox>
               
               
                  <mat-form-field appearance="legacy">
                    <mat-label style="color: white;">ระบุเงื่อนไข</mat-label>
                    <mat-select (selectionChange)="selectCondition($event)">
                      <mat-option class="not-empty-select" *ngFor="let Condition of Conditions"
                        [value]="[Condition.value]">
                        {{Condition.viewvalue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
             
                <!--
              <div class="col-md-3">
                    <a target="_blank" href="http://127.0.0.1/psisservice/wpdf/wpdf.php?filter1={{selBudjet[0]}}&filter2={{selBudjet[1]}}"><button class="btn btn-success mr-2">พิมพ์ใบสรุปงบ</button></a>  
              </div>
              -->

                <div class="col-md-2">
                  <button (click)="exportAsXLSX()"><i class="fa fa-file-excel-o"
                      style="font-size:20px;color:green"></i></button>
                </div>

              </div>
              <table class="mat-elevation-z8" style="background-color:royalblue" mat-table matSort #sort1="matSort"
                [dataSource]="dataSource1">
                <ng-container matColumnDef="PEANAME">
                  <th class="table-lg" mat-header-cell *matHeaderCellDef mat-sort-header> กฟฟ. </th>
                  <td class="table-lg" mat-cell *matCellDef="let trdata">{{trdata.PEANAME}}</td>
                </ng-container>

                <ng-container matColumnDef="PEA_TR">
                  <th class="table-lg" mat-header-cell *matHeaderCellDef mat-sort-header> PEA No. </th>
                  <td class="table-lg" mat-cell *matCellDef="let trdata">{{trdata.PEA_TR}}</td>
                </ng-container>

                <ng-container matColumnDef="kva">
                  <th class="table-lg" mat-header-cell *matHeaderCellDef mat-sort-header> พิกัด มป. </th>
                  <td class="table-lg" mat-cell *matCellDef="let trdata">{{trdata.kva}}</td>
                </ng-container>

                <ng-container matColumnDef="FEEDERID">
                  <th class="table-lg" mat-header-cell *matHeaderCellDef mat-sort-header> FeederID </th>
                  <td class="table-lg" mat-cell *matCellDef="let trdata">{{trdata.FEEDERID}}</td>
                </ng-container>

                <ng-container matColumnDef="Location">
                  <th class="table-lg" mat-header-cell *matHeaderCellDef>สถานที่ติดตั้ง</th>
                  <td class="table-lg" mat-cell *matCellDef="let trdata">{{trdata.LOCATION}} </td>
                </ng-container>

                <ng-container matColumnDef="PLoadTOT">
                  <th class="table-lg" mat-header-cell *matHeaderCellDef mat-sort-header> % Load </th>
                  <td class="table-lg" mat-cell *matCellDef="let trdata">{{trdata.PLoadTOT | number:'1.2-2'}}</td>
                </ng-container>

                <ng-container matColumnDef="PLoadTOTnow">
                  <th class="table-lg" mat-header-cell *matHeaderCellDef mat-sort-header> % Load OSPA </th>
                  <td class="table-lg" mat-cell *matCellDef="let trdata">{{trdata.PLoadTOT_Now | number:'1.2-2'}}</td>
                </ng-container>

                <ng-container matColumnDef="minV">
                  <th class="table-lg" mat-header-cell *matHeaderCellDef mat-sort-header> แรงดัน<BR>ปลายสาย </th>
                  <td class="table-lg" mat-cell *matCellDef="let trdata"> {{trdata.minV | number:'1.2-2'}} </td>
                </ng-container>

                <ng-container matColumnDef="minVnow">
                  <th class="table-lg" mat-header-cell *matHeaderCellDef mat-sort-header> แรงดัน<BR>ปลายสาย OPSA </th>
                  <td class="table-lg" mat-cell *matCellDef="let trdata"> {{trdata.minV_Now | number:'1.2-2'}} </td>
                </ng-container>

                <ng-container matColumnDef="Ub">
                  <th class="table-lg" mat-header-cell *matHeaderCellDef mat-sort-header> %UB </th>
                  <td class="table-lg" mat-cell *matCellDef="let trdata"> {{trdata.Ub | number:'1.2-2'}} </td>
                </ng-container>
                <ng-container matColumnDef="Ubnow">
                  <th class="table-lg" mat-header-cell *matHeaderCellDef mat-sort-header> %UB OPSA </th>
                  <td class="table-lg" mat-cell *matCellDef="let trdata"> {{trdata.Ub_Now | number:'1.2-2'}} </td>
                </ng-container>

                <ng-container matColumnDef="wbs">
                  <th class="table-lg" mat-header-cell *matHeaderCellDef mat-sort-header>หมายเลข WBS/ใบสั่ง</th>
                  <td class="table-lg" mat-cell *matCellDef="let trdata">
                    <div *ngIf="checkAoj(trdata.aoj)">
                      <mat-form-field>
                        <input value={{trdata.wbs}} name="wbs" matInput placeholder="ใส่หมายเลข WBS/ใบสั่ง"
                          (change)="applyWBS([$event.target.value,trdata])">
                      </mat-form-field>
                    </div>
                    <div *ngIf="!checkAoj(trdata.aoj)">
                      <mat-label>{{trdata.wbs}}</mat-label>
                    </div>
                  </td>
                </ng-container>

                <ng-container matColumnDef="jobStatus">
                  <th class="table-lg" mat-header-cell *matHeaderCellDef mat-sort-header> สถานะงาน </th>
                  <td class="table-lg" mat-cell *matCellDef="let trdata"> {{trdata.jobStatus}} </td>
                </ng-container>


                <ng-container matColumnDef="loadResult">
                  <th class="table-lg" mat-header-cell *matHeaderCellDef mat-sort-header>
                    %โหลด,แรงดัน,%UB<BR>ที่วัดได้ </th>
                  <td class="table-lg" mat-cell *matCellDef="let trdata"> {{trdata.RLoad==0?'-':trdata.RLoad}} ,
                    {{trdata.RVoltage==0?'-':trdata.RVoltage}} ,{{trdata.realUb==0?'-':trdata.realUb}}</td>
                </ng-container>

                <ng-container matColumnDef="loadMea">
                  <th class="table-lg" mat-header-cell *matHeaderCellDef mat-sort-header> ผลวัดโหลด </th>
                  <td class="table-lg" mat-cell *matCellDef="let trdata"> <button mat-raised-button
                      (click)="getTRload(trdata)" class="btn btn-success">TR</button> </td>
                </ng-container>

                <ng-container matColumnDef="Status">
                  <th class="table-lg" mat-header-cell *matHeaderCellDef mat-sort-header>หมายเหตุ</th>
                  <td class="table-lg" mat-cell *matCellDef="let trdata">
                    <div *ngIf="checkAoj(trdata.aoj)">
                      <mat-form-field>
                        <mat-label>{{trdata.Status}}</mat-label>
                        <mat-select [(value)]="selected" (selectionChange)="selectStatus($event)">
                          <mat-option *ngFor="let Status of Statuss" [value]="[Status.value,trdata]">
                            {{Status.value}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div *ngIf="!checkAoj(trdata.aoj)">

                      <mat-label>{{trdata.Status}}</mat-label>

                    </div>
                    <div class="row col-md-12" *ngIf="checkSelect(trdata.Status)==0">
                      <mat-form-field>
                        <input value={{trdata.note}} name="RVoltage" matInput
                          (change)="onOther($event.target.value,trdata.PEA_TR)">
                      </mat-form-field>
                    </div>

                  </td>

                </ng-container>

                <ng-container matColumnDef="rundate">
                  <th class="table-lg" mat-header-cell *matHeaderCellDef mat-sort-header> วันเริ่มต้น </th>
                  <td class="table-lg" mat-cell *matCellDef="let trdata">
                    <mat-form-field appearance="fill" style="width: 140px;height: 10px;">
                      <input matInput [matDatepicker]="picker" [value]="setTime(trdata.rundate)"
                        (dateChange)="onDateChange(trdata.PEA_TR,$event)">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker [calendarHeaderComponent]="exampleHeader"></mat-datepicker>
                    </mat-form-field>
                  </td>
                </ng-container>

                <ng-container matColumnDef="expDate">
                  <th class="table-lg" mat-header-cell *matHeaderCellDef mat-sort-header> วันสิ้นสุด </th>
                  <td class="table-lg" mat-cell *matCellDef="let trdata"> {{trdata.expDate | date: 'dd/MM/yyyy'}}
                  </td>
                </ng-container>

                <ng-container matColumnDef="workstatus">
                  <th class="table-lg" mat-header-cell *matHeaderCellDef mat-sort-header></th>
                  <td class="table-lg" mat-cell *matCellDef="let trdata">
                    <div *ngIf="checkwbs(trdata.WBS,trdata.Status)"><label class="badge badge-danger"
                        style="font-size: small;">ยังไม่ได้ดำเนินการ</label> </div>
                    <div *ngIf="!checkwbs(trdata.WBS,trdata.Status)">
                      <div *ngIf="checkexpdate(trdata)"><label class="badge badge-danger"
                          style="font-size: small;">เกินเวลาที่กำหนด</label> </div>
                    </div>

                  </td>

                </ng-container>

                <ng-container matColumnDef="plancat">
                  <th class="table-lg" mat-header-cell *matHeaderCellDef mat-sort-header> แผนงาน </th>
                  <td class="table-lg" mat-cell *matCellDef="let trdata"> {{trdata.plancat}}
                  </td>
                </ng-container>
                <!-- <ng-container matColumnDef="PEA_Meter">
              <th class="table-lg" mat-header-cell *matHeaderCellDef> </th>
              <td class="table-lg" mat-cell *matCellDef="let trdata"> <div class="text-success"><button type="button" class="btn btn-danger btn-fw btn-sm" (click)="getMtData(trdata.PEA_TR)">แสดงมิเตอร์</button></div></td>
              </ng-container> -->

                <tr class="table-lg" mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
                <tr class="table-lg" mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>

              </table>
              <mat-paginator #paginator1 [pageSizeOptions]="[5, 10, 20]" [pageSize]="10" showFirstLastButtons>
              </mat-paginator>
            </div>
          </mat-card>
        </div>
      </div>

    </div>
  </mat-tab>
  <mat-tab label="VCARE">
    <mat-card>
      <mat-card-header>
        <mat-card-title style="color:white;">Dashboard การปรับปรุงหม้อแปลงและระบบจำหน่ายแรงต่ำ จาก VCARE และ OPSAonGIS สถานะวันที่ {{vcaredate}} 
        </mat-card-title>

      </mat-card-header>
      <mat-card-content>

        <div class="row">

          <div class="col-md-11">
            <!-- <mat-form-field>
              <mat-label style="color:white;">กฟฟ. </mat-label>
              <mat-select (selectionChange)="selectPea($event)">
                <mat-option class="not-empty-select" *ngFor="let pea of peaname2"
                  [value]="[pea.peaEng,pea.peaCode,pea.peaName]">
                  {{pea.peaCode +" "+pea.peaName}}
                </mat-option>
              </mat-select>
            </mat-form-field> -->
            <!-- <div *ngIf="option=='7'">
            <mat-form-field>
              <mat-label style="color:white;">กลุ่มแผนงาน</mat-label>
              <mat-select (selectionChange)="selectGroup($event)">
                <mat-option class="not-empty-select" *ngFor="let grpup of groupName"
                [value]="[grpup.value]">
                  {{grpup.viewvalue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div> -->
        </div>
          <!-- <div class="col-md-1">
            <a target="_blank"
              href='http://psim.pea.co.th/psisservice/opsa/exportresult.php?option={{option}}&region={{currentReggion}}&group={{groupP1Select}}'><i
                class="fa fa-file-excel-o" style="font-size:40px;color:white;"></i></a>
          </div> -->
        </div>
        <!-- <div class="col-md-12 d-flex justify-content-center" style="color: white;">
          <mat-button-toggle-group style="border-radius: 20px;height: 80%;color: rgb(70, 124, 172);" value="7">
            <mat-button-toggle (change)="onValChange($event.value)" value="7" style="width: 300px;">แรงดันต่ำกว่า 200 V หรือ โหลดเกิน 100%</mat-button-toggle>
            <mat-button-toggle (change)="onValChange($event.value)" value="1">โหลด 80-100%</mat-button-toggle>
            <mat-button-toggle (change)="onValChange($event.value)" value="8" style="width: 300px;">Unbalance > 50% (%Loading 50-80)</mat-button-toggle>

            <mat-button-toggle (change)="onValChange($event.value)" value="4">โหลดต่ำกว่า 30%</mat-button-toggle>
               
          </mat-button-toggle-group>

        </div> -->

        <div class="row">
          <!-- <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12" style="color: white;">
            <apx-chart style="color: white;" [series]="chartOptions1.series" [chart]="chartOptions1.chart"
              [plotOptions]="chartOptions1.plotOptions" [labels]="chartOptions1.labels" [stroke]="chartOptions1.stroke"
              [fill]="chartOptions1.fill" style="color: white;"></apx-chart>

            <div class="card card-statistics mt-5">
              <div class="card-body bg-success">
                <div class="clearfix">
                  <div class="float-left">
                    <i class="mdi  mdi-chart-line text-white icon-lg"></i>
                  </div>
                  <div class="float-right">
                    <p class="font-weight-medium text-right mb-0 wrfont" style="font-size:x-large;">หม้อแปลงทั้งหมด
                      {{TrPlnTal | number}} เครื่อง</p>
                    <div class="fluid-container">
                      <h3 class="font-weight-medium text-right mb-0 wrfont">มีแผนงานแล้ว {{TrTotalHavePln | number}} เครื่อง
                        <BR>
                        ตรวจสอบแล้ว {{TrTotal | number}} เครื่อง
                        <BR>
                          ปิดงานแล้ว {{TrTotalClsd}} เครื่อง
                        <BR>
                          <h4>(ไม่พบปัญหา {{TrNo}} เครื่อง <BR> แก้ไข GIS {{TrGIS}}  เครื่อง
                            <BR>  ปิดงาน/เปิดงาน PM PS {{TrClsd}}/{{TrWBS}} เครื่อง)</h4>
                      </h3>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div> -->
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" style="height: 50pc;">

            <canvas id='chartVcare'></canvas>

          </div>
          
          <div class="mt-4 table-responsive" style="background-color:royalblue">
            <table class="mat-elevation-z8" style="background-color:royalblue" mat-table matSort
              #sort4="matSort" [dataSource]="dataSource4">
              <ng-container matColumnDef="pea">
                <th class="table-lg" mat-header-cell *matHeaderCellDef mat-sort-header
                  style="color: black;background-color:lightgray;"> กฟฟ. </th>
                <td class="table-lg" mat-cell *matCellDef="let matreq" style="color: black;">
                  {{matreq.pea}}
                </td>
              </ng-container>
              <ng-container matColumnDef="PEANO_TR">
                <th class="table-lg" mat-header-cell *matHeaderCellDef mat-sort-header
                  style="color: black;background-color:lightgray;"> PEA หม้อแปลง </th>
                <td class="table-lg" mat-cell *matCellDef="let matreq" style="color: black;">
                  {{matreq.PEANO_TR}}
                </td>
              </ng-container>
              <ng-container matColumnDef="PEANO_METER">
                <th class="table-lg" mat-header-cell *matHeaderCellDef mat-sort-header
                  style="color: black;background-color:lightgray;"> PEA มิเตอร์ </th>
                <td class="table-lg" mat-cell *matCellDef="let matreq" style="color: black;">
                  {{matreq.PEANO_METER}}
                </td>
              </ng-container>
              <ng-container matColumnDef="Location">
                <th class="table-lg" mat-header-cell *matHeaderCellDef mat-sort-header
                  style="color: black;background-color:lightgray;"> Location </th>
                <td class="table-lg" mat-cell *matCellDef="let matreq" style="color: black;">
                  {{matreq.Location}}
                </td>
              </ng-container>
              <ng-container matColumnDef="pload">
                <th class="table-lg" mat-header-cell *matHeaderCellDef mat-sort-header
                  style="color: black;background-color:lightgray;"> โหลดหม้อแปลง </th>
                <td class="table-lg" mat-cell *matCellDef="let matreq" style="color: black;">
                  {{matreq.pload}}
                </td>
              </ng-container>
              <ng-container matColumnDef="voltage">
                <th class="table-lg" mat-header-cell *matHeaderCellDef mat-sort-header
                  style="color: black;background-color:lightgray;"> แรงดัน </th>
                <td class="table-lg" mat-cell *matCellDef="let matreq" style="color: black;">
                  {{matreq.voltage}}
                </td>
              </ng-container>

              <ng-container matColumnDef="wbs">
                <th class="table-lg" mat-header-cell *matHeaderCellDef mat-sort-header
                  style="color: black;background-color:lightgray;"> wbs </th>
                <td class="table-lg" mat-cell *matCellDef="let matreq" style="color: black;">
                  {{matreq.wbs}}
                </td>
              </ng-container>
              <ng-container matColumnDef="JOB_STATUS">
                <th class="table-lg" mat-header-cell *matHeaderCellDef mat-sort-header
                  style="color: black;background-color:lightgray;"> สถานะงาน </th>
                <td class="table-lg" mat-cell *matCellDef="let matreq" style="color: black;">
                  {{matreq.JOB_STATUS}}
                </td>
              </ng-container>
              <ng-container matColumnDef="NOTE">
                <th class="table-lg" mat-header-cell *matHeaderCellDef mat-sort-header
                  style="color: black;background-color:lightgray;"> หมายเหตุ </th>
                <td class="table-lg" mat-cell *matCellDef="let matreq" style="color: black;">
                  {{matreq.NOTE}}
                </td>
              </ng-container>

              <ng-container matColumnDef="jobprogress">
                <th class="table-lg" mat-header-cell *matHeaderCellDef mat-sort-header
                  style="color: black;background-color:lightgray;"> สถานะการปิดงาน </th>
                <td class="table-lg" mat-cell *matCellDef="let matreq" style="color: black;">
                  {{chkPSIM(matreq)}}
                </td>
              </ng-container>     

              <tr class="table-lg" mat-header-row *matHeaderRowDef="displayedColumns4" style="color: white;">
              </tr>
              <tr class="table-lg" mat-row *matRowDef="let row; columns: displayedColumns4;"></tr>
            </table>
            <mat-paginator #paginator4 [pageSizeOptions]="[5, 10, 20]" [pageSize]="5" showFirstLastButtons>
            </mat-paginator>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-tab>
</mat-tab-group>
