table {
    width: 100%;
  }
  .mat-select-content{
    width:2000px;
    background-color: red;
    font-size: 10px;   
}
.bg-success {
  background-color: #e0308e !important;
}
.mat-row:nth-child(even){
  background-color: #dae8f5;
  }
  th.mat-header-cell{
    color: rgb(10, 6, 223);
    font-weight: bold
  }
.wrfont{
    color: #FFF;
  
  }
.mat-cell {
    text-align: center;
    justify-content:center;
  }
.mat-header-cell {
  text-align: center;
  justify-content:center;
}
