
<app-loader></app-loader>
<div class="row" *ngIf="!checkAutho()">
    <h1 class="card-title">ไม่มีสิทธิ์ใช้งาน</h1> 

</div>
    
<div class="row" *ngIf="checkAutho()">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title style="color:rgb(0, 0, 0);">Update ผลการดำเนินงาน
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>  
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">     
        <h1 class="card-title">1. Upload File ZPSR048</h1>        
        <form class="form-sample" #f="ngForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="input-lg" for="file">เลือกไฟล์ ZPSR048</label>
                    <input type="file"
                           id="file"
                           name="filename"
                           (change)="handleFile048($event)" ngModel required>
                    <label class="input-lg"> {{uploadDocResponse}} </label>                  
                </div>
                <!-- <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label  input-lg">ปี</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control  input-lg" name="year" ngModel required>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label  input-lg">เดือน</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control  input-lg" name="mnt" ngModel required>
                    </div>
                  </div>
                </div> -->

            </div>
          </div>
            <div class="col-md-3">
              <button type="submit" [disabled]="!f.valid" class="btn btn-success mr-2">Submit</button>
            </div>
        
         </form>
      </div>
    </div>
  </div>
  <!-- <div class="col-6 grid-margin">
    <div class="card">
      <div class="card-body">     
        <h1 class="card-title"> Upload File GIS</h1>        
        <form class="form-sample" #gisForm="ngForm" (ngSubmit)="onSubmit2()">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="input-lg" for="file">1.เลือกไฟล์ GIS</label>
                    <input type="file"
                           id="file"
                           name="filename"
                           (change)="handleFileGIS($event)" ngModel required>
                    <label class="input-lg"> {{uploadDocResponse2}} </label>                  
                </div>
            </div>
          </div>
            <div class="col-md-3">
              <button type="submit" [disabled]="!gisForm.valid" class="btn btn-success mr-2">Submit</button>
            </div>
        
         </form>
      </div>
    </div>
  </div>
  <div class="col-6 grid-margin">
    <div class="card">
      <div class="card-body">     
        <h1 class="card-title"> Upload to LVPro</h1>        
        <form class="form-sample" #LvproForm="ngForm" (ngSubmit)="uploadLvpro()">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="input-lg" for="file">1.เลือกไฟล์</label>
                    <input type="file"
                           id="file"
                           name="filename"
                           (change)="handleFileLvpro($event)" ngModel required>
                    <label class="input-lg"> {{uploadDocResponse3}} </label>                  
                </div>
            </div>
          </div>
            <div class="col-md-3">
              <button type="submit" [disabled]="!LvproForm.valid" class="btn btn-success mr-2">Submit</button>
            </div>
        
         </form>
      </div>
    </div>
  </div> -->
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">     
        <h1 class="card-title">2. Upload PM </h1>        
        <form class="form-sample" #pm="ngForm" (ngSubmit)="uploadPM()">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="input-lg" for="file">เลือกไฟล์ PM</label>
                    <input type="file"
                           id="file"
                           name="filename"
                           (change)="handleFilePM($event)" ngModel required>
                    <label class="input-lg"> {{uploadDocResponse4}} </label>                  
                </div>
            </div>
          </div>
            <div class="col-md-3">
              <button type="submit" [disabled]="!pm.valid" class="btn btn-success mr-2">Submit</button>
            </div>
        
         </form>
      </div>
    </div>
  </div>
</mat-card-content>
</mat-card>

<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title style="color:black;">Update เพื่อขึ้นระบบใหม่
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>  

  <!-- <div class="col-6 grid-margin">
    <div class="card">
      <div class="card-body">     
        <h1 class="card-title"> 1. Upload PEANAME </h1>        
        <form class="form-sample" #peaname="ngForm" (ngSubmit)="uploadPEANAME()">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="input-lg" for="file">เลือกไฟล์ PEANAME.xlsx </label>
                    <input type="file"
                           id="file"
                           name="filename"
                           (change)="handleFilePEANAME($event)" ngModel required>
                    <label class="input-lg"> {{uploadDocResponse3}} </label>                  
                </div>
            </div>
          </div>
            <div class="col-md-3">
              <button type="submit" [disabled]="!peaname.valid" class="btn btn-success">Submit</button>
            </div>
        
         </form>
      </div>
    </div>
  </div>

  <div class="col-6 grid-margin">
    <div class="card">
      <div class="card-body">     
        <h1 class="card-title"> 2. Upload PEANAME2 </h1>        
        <form class="form-sample" #peaname2="ngForm" (ngSubmit)="uploadPEANAME2()">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="input-lg" for="file">เลือกไฟล์ PEANAME2.xlsx </label>
                    <input type="file"
                           id="file"
                           name="filename"
                           (change)="handleFilePEANAME2($event)" ngModel required>
                    <label class="input-lg"> {{uploadDocResponse5}} </label>                  
                </div>
            </div>
          </div>
            <div class="col-md-3">
              <button type="submit" [disabled]="!peaname2.valid" class="btn btn-success">Submit</button>
            </div>
        
         </form>
      </div>
    </div>
  </div> -->

  <div class="col-6 grid-margin">
    <div class="card">
      <div class="card-body">     
        <h1 class="card-title"> 1. Upload OPSA </h1>        
        <form class="form-sample" #opsa="ngForm" (ngSubmit)="uploadOPSA()">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="input-lg" for="file">เลือกไฟล์ OPSA.xlsx </label>
                    <input type="file"
                           id="file"
                           name="filename"
                           (change)="handleFileOPSA($event)" ngModel required>
                    <label class="input-lg"> {{uploadDocResponse2}} </label>                  
                </div>
            </div>
          </div>
            <div class="col-md-3">
              <button type="submit" [disabled]="!opsa.valid" class="btn btn-success">Submit</button>
            </div>
        
         </form>
      </div>
    </div>
  </div>

</mat-card-content>
</mat-card>

<!-- <mat-card class="example-card">
  <mat-card-header>
    <mat-card-title style="color:black;"> Update ความต้องการพัสดุ
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>  
  <div class="col-6 grid-margin">
    <div class="card">
      <div class="card-body">     
        <h1 class="card-title"> 1. Upload mb52 </h1>        
        <form class="form-sample" #mb52="ngForm" (ngSubmit)="uploadmb52()">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="input-lg" for="file">เลือกไฟล์ mb52 </label>
                    <input type="file"
                           id="file"
                           name="filename"
                           (change)="handleFilemb52($event)" ngModel required>
                    <label class="input-lg"> {{uploadDocResponse6}} </label>                  
                </div>
            </div>
          </div>
            <div class="col-md-3">
              <button type="submit" [disabled]="!mb52.valid" class="btn btn-success">Submit</button>
            </div>
        
         </form>
      </div>
    </div>
  </div>

  <div class="col-6 grid-margin">
    <div class="card">
      <div class="card-body">     
        <h1 class="card-title"> 2. Upload WBS </h1>        
        <form class="form-sample" #cn52n="ngForm" (ngSubmit)="uploadcn52n()">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="input-lg" for="file">เลือกไฟล์ CN52N </label>
                    <input type="file"
                           id="file"
                           name="filename"
                           (change)="handleFilecn52n($event)" ngModel required>
                    <label class="input-lg"> {{uploadDocResponse7}} </label>                  
                </div>
            </div>
          </div>
            <div class="col-md-3">
              <button type="submit" [disabled]="!cn52n.valid" class="btn btn-success">Submit</button>
            </div>
        
         </form>
      </div>
    </div>
  </div>

  <div class="col-6 grid-margin">
    <div class="card">
      <div class="card-body">     
        <h1 class="card-title"> Upload PM </h1>        
        <form class="form-sample" #zcn52n="ngForm" (ngSubmit)="uploadzcn52n()">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="input-lg" for="file">เลือกไฟล์ ZCN52N </label>
                    <input type="file"
                           id="file"
                           name="filename"
                           (change)="handleFilezcn52n($event)" ngModel required>
                    <label class="input-lg"> {{uploadDocResponse8}} </label>                  
                </div>
            </div>
          </div>
            <div class="col-md-3">
              <button type="submit" [disabled]="!zcn52n.valid" class="btn btn-success">Submit</button>
            </div>
        
         </form>
      </div>
    </div>
  </div>
</mat-card-content>
</mat-card> -->

</div>
